[Unit]
Description=SpiBerryEngine Service
After=multi-user.target
Wants=network.target

[Service]
ExecStart=/home/pi/ro/venv/bin/python /home/pi/ro/SpiBerryEngine.py
WorkingDirectory=/home/pi/ro
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
User=pi
Group=pi

# Ensure GPIOs are available before starting
ExecStartPre=/bin/sleep 3

[Install]
WantedBy=multi-user.target
