[Unit]
Description=SpiBerryEngine Service
After=multi-user.target
Wants=network.target

[Service]
ExecStart=<execstart>
WorkingDirectory=<workingdirectory>
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
User=pi
Group=pi

# Ensure GPIOs are available before starting
ExecStartPre=/bin/sleep 3

[Install]
WantedBy=multi-user.target
